---
- name: "install deps"
  become: true
  apt:
    name: ["nodejs"]
    state: latest
    update_cache: yes
    
- name: "install pmg"
  become: true
  npm:
    name: "pm2"
    global: yes
    state: latest
# VS Code Extension Version: 1.5.1